@charset "utf-8";

/* webfont */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Secular+One&display=swap');
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul, li, ol{
    list-style: none;
    color:#666;
}
a{
    text-decoration: none;
    color:#444;
}
body::-webkit-scrollbar{
    width:15px;
    background-color: #444;
}
body::-webkit-scrollbar-thumb{
    background-color: #fff;
}

/* font */
.sliderfont{
    font-family: "Secular One";
    color:#444;
    text-transform: uppercase;
    line-height: 90%;
}
.titlefont{
    font-family: "Secular One";
    color:#444;
    line-height: 90%;
    text-transform: uppercase;
}
.titlefont2{
    font-family: "Secular One";
    color:#444;
    line-height: 120%;
    text-transform: uppercase;
}
.arial1{
    font-family: Arial;
    color:#444;
}
.arial2{
    font-family: Arial;
    color:#444;
}
.text1{
    font-family: "Roboto Slab Regular";
    color:#666;
    line-height: 130%;
}
.ridi1{
    font-family: "리디바탕";
    color:#444;
    line-height: 140%;
}

/* hr */
hr{
    border:solid 1px #666;
}

/*header*/
header{
    width:100%;
    height:90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    background-color: white;
    z-index: 20;
    border-bottom: 2px solid #666;
}
.big{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.headnav>ul>li{
    display:inline-block;
    margin:0px 40px;
}


/*footer*/
footer{
    width:100%;
    height:90px;
    display: flex;
    justify-content: center;
}
footer>div{
    width:93%;
    height:90px;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top:20px;
}
footer>div>div:nth-of-type(2)>p{
    display: inline-block;
    padding:0 10px;
}

/*media*/
@media (max-width:767px){
    .small{
        display: block;
    }
    .big{
        display: none;
    }
    .sliderfont{
        font-size:60px;
    }
    .titlefont{
        font-size:5vw;
    }
    .titlefont2{
        font-size:18px;
    }
    .arial1, .text1, .ridi1{
        font-size:12px;
        line-height: 150%;
    }
    .arial2{
        font-size:3vw;
    }
}
@media (min-width:768px){
    .small{
        display: block;
    }
    .big{
        display: none;
    }
    .sliderfont{
        font-size:70px;
    }
    .titlefont{
        font-size:45px;
    }
    .titlefont2{
        font-size:30px;
    }
    .arial1, .text1, .ridi1{
        font-size:14px;
    }
    .arial2{
        font-size:24px;
    }
}
@media (min-width:1000px){
    .small{
        display: none;
    }
    .big{
        display: block;
    }
    .sliderfont{
        font-size:80px;
    }
    .titlefont{
        font-size:50px;
    }
    .titlefont2{
        font-size:30px;
    }
    .arial1, .text1, .ridi1{
        font-size:16px;
    }
    .arial2{
        font-size:24px;
    }
}