@charset "utf-8";

/*slider*/
#slider{
    width:100%;
    height:500px;
    display: flex;
    justify-content: center;
    margin-top:88px;
}
#slider>div{
    width:93%;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
}
#slider>div>p{
    padding:15px;
}
#slider>div>a{
    padding:15px;
}

/*section*/
#sec1{
    width:100%;
    height:680px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#sec1>article{
    width:93%;
    height:140px;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
}
#sec1>article>div:nth-of-type(1){
    padding-left: 20px;
    padding-top:40px;
}
#sec1>article>div:nth-of-type(2){
    display:flex;
    justify-content:space-between;
    margin:0px 20px;
}
#sec1>article>div:nth-of-type(2){
    padding-top:20px;
}
#sec1>table{
    width:93%;
    height:540px;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    border-collapse: collapse;
}
.tr1{
    width:50%;
    padding:20px;
    border-bottom: 2px solid white;
}
.tr2{
    width:25%;
    border-bottom: 2px solid white;
}
.tr3{
    width:25%;
    text-align: right;
    padding:20px;
    border-bottom: 2px solid white;
}
.tr1_1{
    width:50%;
    padding:20px;
    border-bottom: 2px solid #666;
}
.tr2_1{
    width:25%;
    border-bottom: 2px solid #666;
}
.tr3_1{
    width:25%;
    text-align: right;
    padding:20px;
    border-bottom: 2px solid #666;
}

.ta1{
    background-position: center;
    background-size:cover;
}

#sec2{
    width:100%;
    height:140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec2>div{
    width:93%;
    height: 140px;
    display: flex;
}
.sec2div1{
    width:6%;
    height: 140px;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
}
.sec2div2{
    width:25%;
    height:140px;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2div3{
    width:69%;
    height:140px;
    background-image: url(../img/slider.jpg);
    background-repeat: repeat-x;
    background-position: left;
    background-size:auto 100%;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    animation:movebg 450s linear infinite;
}
@keyframes movebg{
    0%{
        background-position: 0 top;
    }
    100%{
        background-position:-2000% top;
    }
}

#sec3{
    width:100%;
    height:900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec3>div{
    width:93%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3div1{
    overflow: auto;
}
.sec3div1::-webkit-scrollbar{
    width:2px;
    background-color: #444;
}
.sec3div1::-webkit-scrollbar-thumb{
    background-color: #fff;
}
.sec3div1>div{
    position: relative;
    width:100%;
}
.sec3div1>div>img{
    width:100%;
    text-align: center;
}
.sec3div1>div>p{
    width:100%;
    padding:20px;
}
.border3{
    border-bottom: 2px solid #666;
    width:100%;
    margin-bottom:20px;
}
.sec3div2{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding:20px;
}
.sec3p3{
    background-color: #444;
    color:white;
    text-align: center;
}


#sec4{
    width:100%;
    display: flex;
    justify-content: center;
}
#sec4>div{
    width:93%;
    display: flex;
}
.sec4div1{
    width:6%;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
}
.sec4div2{
    width:34%;
    border-right: 2px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:20px;
}
.sec4div3{
    width:60%;
    border-right: 2px solid #666;
    overflow: hidden;
    position: relative;
}
.sec4div3>div{
    position:absolute;
    width:100%;
}
.sec4div3>div{
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
#slide2{
    display: none;
}
#slidebtn{
    position: absolute;
    bottom:-10px;
}
#slidebtn>button{
    width:20px;
    height:20px;
    background-color: #444;
    color:white;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}
#slidebtn>button:hover{
    background-color: white;
    border:1px solid #444;
    color:#444;
    box-sizing: border-box;
}

#sec5{
    width:100%;
    height:140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec5>div{
    width:93%;
    height:140px;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
.sec5p{
    text-align: right;
    text-transform: uppercase;
}

#sec6{
    width:100%;
    height:900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec6>div{
    width:93%;
    display: flex;
}
#sec6>div>div{
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    display: flex;
    text-align: center;
}
#sec6>div>div>div>p{
    display: flex;
    flex-wrap: wrap;
    margin-top:20px;
    text-align: left;
}
#sec6>div>div>div:nth-of-type(n+1){
    display: none;
}
#sec6>div>div>div:nth-of-type(1){
    display: block;
}
#sec6>div>ul{
    border-right: 2px solid #666;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
}
.sec6ti{
    width:100%;
    height:100px;
    border-bottom: 2px solid #666;
    padding-top:30px;
    padding-right: 20px;
}
.sec6sub{
    width:100%;
    height:50px;
    border-bottom: 2px solid #666;
    padding-top:15px;
    padding-right: 20px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}
.sec6sub:hover, .sec6sub1:hover, #sec6 .active{
    background-color: #444;
    color:white;
}
.sec6sub1{
    width:100%;
    height:50px;
    padding-top:15px;
    padding-right: 20px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

#sec7{
    width:100%;
    height:140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec7>div{
    width:93%;
    height:140px;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*slide font*/
@keyframes marquee{
    0%{
        left:0;
    }
    100%{
        left:-100%;
    }
}
.marquee .outer{
    overflow: hidden;
}
.marquee .outer .inner{
    position:relative;
    display: flex;
    flex-wrap: nowrap;
    width:600%;
}
.marquee .outer .inner:nth-child(1){
    animation:marquee 15s linear infinite;
}
.marquee .outer .inner .contant{
    width:500%;
}
.inner{
    width:100%;
    height:140px;
    padding-top:35px;
    transition: 0.5s all ease-in-out;
}
.outer:hover .inner{
    background-color: #444;
    color:white;
}

#sec8{
    width:100%;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec8>div{
    width:93%;
    height:500px;
    display: flex;
}
#sec8>div>div:nth-of-type(1){
    width:50%;
    height:500px;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
}
#sec8>div>div:nth-of-type(2){
    width:50%;
    height:500px;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
}
.sec8img{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.sec8img>img{
    height: 100%;
}
.sec8ti{
    width:100%;
    height:260px;
    border-bottom: 2px solid #666;
    padding:20px;
}
.sec8sub{
    width:100%;
    height: 80px;
    border-bottom: 2px solid #666;
    transition: 0.3s ease all;
}
.sec8sub:hover{
    background-color: #444;
    color:white;
}

@media (max-width:767px){
    .sec8sub{
        padding:30px;
    }
    .inner{
        padding-top:45px;
    }
    #sec3>div{
        width:93%;
        height:900px;
        display: flex;
        flex-wrap: wrap;
    }
    #sec3>div>div:nth-of-type(1){
        width:100%;
        height:600px;
        border-left: 2px solid #666;
        border-right: 2px solid #666;
    }
    #sec3>div>div:nth-of-type(2){
        width:94%;
        height:300px;
        border-right: 2px solid #666;
        border-left: 2px solid #666;
        border-top: 2px solid #666;
    }
    #sec3>div>div:nth-of-type(3){
        width:6%;
        height:300px;
        border-right: 2px solid #666;
        border-top: 2px solid #666;
    }
    #sec4, .sec4div1, .sec4div2, .sec4div3{
        height:500px;
    }
    #sec6{
        width:93%;
        height:900px;
        margin:0 auto;
    }
    #sec6>div{
        width:100%;
        height:900px;
        display: flex;
        flex-wrap: wrap;
    }
    #sec6>div>div>div{
        position: absolute;
        width:80%;
    }
    #sec6>div>div>div>img{
        width:50%;
        height:auto;
    }
    #sec6>div>div{
        width:100%;
        height:550px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #sec6>div>ul{
        width:100%;
        height:350px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border:2px solid #666;
        border-bottom: none;
    }
    #sec6>div>ul>li{
        width:33.3%;
        text-align: left;
        padding-left: 20px;
    }
    .sec6ti{
        height:80px;
    }
    .sec6sub{
        height:54px;
    }
}
@media (min-width:768px){
    .sec8sub{
        padding:20px;
    }
    #sec3>div>div:nth-of-type(1){
        width:50%;
        height:900px;
        border-left: 2px solid #666;
        border-right: 2px solid #666;
    }
    #sec3>div>div:nth-of-type(2){
        width:44%;
        height:900px;
        border-right: 2px solid #666;
    }
    #sec3>div>div:nth-of-type(3){
        width:6%;
        height:900px;
        border-right: 2px solid #666;
    }
    #sec4, .sec4div1, .sec4div2, .sec4div3{
        height:400px;
    }
    #sec6>div>div>div{
        position: absolute;
        width:50%;
    }
    #sec6>div>div>div>img{
        width:70%;
        height:auto;
    }
    #sec6>div>div{
        width:60%;
        height:900px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #sec6>div>ul{
        width:40%;
        height:900px;
    }
    #li7{
        border:none;
    }
    #li12{
        border-bottom:2px solid #666;
    }
}
@media (min-width:1000px){
    .sec8sub{
        padding:20px;
    }
    #sec3>div>div:nth-of-type(1){
        width:50%;
        height:900px;
        border-left: 2px solid #666;
        border-right: 2px solid #666;
    }
    #sec3>div>div:nth-of-type(2){
        width:44%;
        height:900px;
        border-right: 2px solid #666;
    }
    #sec3>div>div:nth-of-type(3){
        width:6%;
        height:900px;
        border-right: 2px solid #666;
    }
    #sec4, .sec4div1, .sec4div2, .sec4div3{
        height:400px;
    }
    #sec6>div>div>div{
        position: absolute;
        width:50%;
    }
    #sec6>div>div>div>img{
        width:70%;
        height:auto;
    }
    #sec6>div>div{
        width:60%;
        height:900px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #sec6>div>ul{
        width:40%;
        height:900px;
    }
    #li7{
        border:none;
    }
    #li12{
        border-bottom:2px solid #666;
    }
}