@charset "utf-8";

#sub1{
    width:100%;
    height:500px;
    display: flex;
    justify-content: center;
    margin-top:88px;
}
#sub1>div{
    width:93%;
    border:2px solid #666;
    border-top:none;
    border-bottom:none;
    padding:20px;
    display: flex;
    /* flex-wrap: wrap; */
}
#sub1>div>p:nth-of-type(2){
    width:70%;
    margin-top:130px;
}

#sub2{
    width:100%;
    height:700px;
    display: flex;
    justify-content: center;
}
#sub2>div{
    width:93%;
    height:700px;
    border:2px solid #666;
    border-top:none;
    background: url(../img/a16.jpg)no-repeat center center fixed;
    background-size: cover;
}

#sub3{
    width:100%;
    height:140px;
    display: flex;
    justify-content: center;
}
#sub3>div{
    width:93%;
    height:140px;
    display: flex;
}
.sub3div1{
    width:6%;
    height: 140px;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
}
.sub3div2{
    width:25%;
    height:140px;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub3div3{
    width:69%;
    height:140px;
    background-image: url(../img/slider2.jpg);
    background-repeat: repeat-x;
    background-position: left;
    background-size:height 100%;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    animation:movebg 450s linear infinite;
}
@keyframes movebg{
    0%{
        background-position: 0 top;
    }
    100%{
        background-position:-2000% top;
    }
}

#sub4{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
}
#sub4>div{
    width:93%;
    height:auto;
    border:2px solid #666;
    border-top:none;
    display: flex;
    flex-wrap: wrap;
}
.sub4div2>div, .sub4div1>div>p{
    padding:20px;
}
.sub4div1>div>img{
    width:100%;
}
#sub4number>div>p{
    text-align: center;
    padding-top:20px;
}
.sub4border{
    border-bottom:2px solid #666;
}


#sub5{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
}
#sub5>div{
    width:93%;
    height:auto;
    border:2px solid #666;
    border-top:none;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
}
.sub5div1>div>img, .sub5div1>div>video{
    width:100%;
}
.sub5div1>div>p, .sub5div2>div>p, .sub5div2>div>a{
    padding:20px;
}

#sub6{
    width:100%;
    height:140px;
    display: flex;
    justify-content: center;
}
#sub6>div{
    width:93%;
    height:140px;
    border:2px solid #666;
    border-top:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
.sub6p{
    text-align: right;
    text-transform: uppercase;
}

#sub7{
    width:100%;
    height:450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#sub7>div{
    width:93%;
    height:450px;
    border:2px solid #666;
    border-top:none;
    border-bottom: none;
    overflow: hidden;
}
#slide7 ul{
    display: flex;
}
#slide7 li img{
    height:400px;
}
#slide7>div{
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}

#sub8{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
}
#sub8>div{
    width:93%;
    height:auto;
    border-bottom:2px solid #666;
    display: flex;
}
.sub8div1{
    width:6%;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
}
.sub8div2{
    width:34%;
    border-right: 2px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:20px;
}
.sub8div3{
    width:60%;
    border-right: 2px solid #666;
    overflow: hidden;
    position: relative;
}
.sub8div3>div{
    position:absolute;
    width:100%;
}
.sub8div3>div{
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
#slide2_2{
    display: none;
}
#slidebtn2{
    position: absolute;
    bottom:-10px;
}
#slidebtn2>button{
    width:20px;
    height:20px;
    background-color: #444;
    color:white;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}
#slidebtn2>button:hover{
    background-color: white;
    border:1px solid #444;
    color:#444;
    box-sizing: border-box;
}

@media(max-width:767px){
    .sub4div1{
        width:100%;
        height:auto;
    }
    .sub4div2{
        border-top:2px solid #666;
        width:100%;
        height:auto;
    }

    .sub5div1{
        width:100%;
        height:auto;
    }
    .sub5div2{
        width:100%;
        height:auto;
    }
    .sub5div2>div>img{
        width:100%;
    }
    .sub5div2>div{
        border-top:2px solid #666;
    }

    #sub8, .sub8div1, .sub8div2, .sub8div3{
        height:650px;
    }
}
@media(min-width:767px){
    .sub4div1{
        width:50%;
        height:auto;
        border-right: 2px solid #666;
        
    }
    .sub4div1 div{
        position:sticky;
        position:-webkit-sticky;
        top:90px;
    }
    .sub4div2{
        width:50%;
        height:auto;
    }

    .sub5div1{
        width:50%;
        height:auto;
        border-right: 2px solid #666;
    }
    .sub5div2{
        width:50%;
        height:auto;
    }
    .sub5div2>div{
        position:sticky;
        position:-webkit-sticky;
        top:90px;
    }
    .sub5div2>div>img{
        width:100%;
    }

    #sub8, .sub8div1, .sub8div2, .sub8div3{
        height:500px;
    }
}